# Composer vendor
composer.lock
vendor/
vendor/.git

# Ignore build artifacts
/deploy
bin/*
reports

# Sass
.sass-cache

# Node
node_modules/

# Drupal console
console/
console/cache/

# PHPStorm
.idea/
atlassian-ide-plugin.xml

# Netbeans IDE
nbproject
nbproject/*

# OS X
.DS_Store
.AppleDouble
.LSOverride

# Drupal normalization
/.editorconfig
/.gitattributes

# Ignore drupal core
web/
